
@{
    ViewData["Title"] = "News";
    Layout = "_footer";
}

<section id="quienessomos" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center"><i class="far fa-newspaper" style="font-size: 45px; color: #000000"></i> NOTICIAS</h1>
                <hr style="width: 50%; margin-top: 5px;" />

                <div class="row">
                    <div class="col-12 text-right my-2">
                        Publicado el 17/10/2019
                    </div>
                    <div class="col-12 text-center">
                        <h4>El proyecto OPRA consigue la segunda mejor puntuación a nivel nacional de las ayudas I+D+i en THD 2019</h4>
                    </div>
                    <div class="col-12 text-center">
                        <img src="~/images/THD 2019 industria.jpg" style="max-width: 900px" class="mt-3 mb-4" />
                    </div>
                    <div class="col-12">
                        <p><a href="http://www.itelligent.es" target="_blank">ITelligent Information Technologies SL</a>, una empresa con sede en El Puerto de Santa María, ha obtenido <span class="font-weight-bold">la segunda mejor puntuación a nivel nacional de las ayudas I+D+i</span> en la <a href="http://www.mincotur.gob.es/PortalAyudas/THD/concesion/2019/Documents/THD2019_PRP_Estimados_20191009.pdf" target="_blank">convocatoria 2019 en Tecnologías Habilitadoras Digitales 2019</a>, lanzadas por el <a href="https://www.diariodecadiz.es/tag/ministerio_de_economia_y_empresa/" target="_blank">Ministerio de Economía y Empresa.</a></p>
                        <p>Concretamente, ITELLIGENT recibirá más de 153.000 euros para un proyecto pionero con el que se desarrollará un sistema de OPtimización RÁpida basado en Deep Reinforcement Learning con aplicación a la industria 4.0 y Smart Cities.</p>
                        <p>Las <b>Tecnologías Habilitadoras Digital</b> son aquellas tecnologías claves para la transformación y el desarrollo de la economía digital. Entre ellas se encuentran: Inteligencia Artificial, el procesamiento del lenguaje natural, las tecnologías para el tratamiento de datos masivos y bases de datos distribuidas (blockchain), el Internet de las Cosas, las futuras redes de comunicación 5G, la supercomputación (HPC), la computación difusa y en la nube, la robótica, la realidad virtual, la ciberseguridad, la biometría y la identidad digital, la micro/nano electrónica.</p>
                        <p>Un total de 208 empresas de tecnologías habilitadoras han quedado fuera de esta subvención y tan solo 46 propuestas –un 18% de las presentadas- han conseguido entrar en la lista provisional de la concesión de estas ayudas, las cuales han sido lanzadas por la Subdirección General de Fomento de la Sociedad de la Información (SGFSI) y la Secretaria de Estado para la Agenda Digital (SEAD) con el objetivo <b>de impulsar la competitividad y el liderazgo empresarial de la industria TIC española</b> en Tecnologías Habilitadoras Digitales (THD), <b>a través de las actividades de I+D+I para el desarrollo de la oferta de productos y soluciones</b>, como contribución al reto de la Transformación Digital de la Economía.</p>
                        <p>Dentro de los cinco <b>primeros puestos se encuentran tres proyectos andaluces</b>, de los cuales, dos han sido presentados por la empresa EMERGYA y un tercer proyecto por la pyme gaditana ITELLIGENT. Ambos lideran el ranking propuestas potentes para empresas como  NOKIA Spain o  Libelium.</p>
                        <p>EMERGYA INGENIERIA SL (Sevilla) e <a href="http://www.itelligent.es" target="_blank">ITelligent Information Technologies SL</a> SL (Cádiz) obtienen las dos mejores puntuaciones a nivel nacional por sus propuestas presentadas a la convocatoria “Tecnologías Habilitadoras Digitales 2019”.</p>
                        <p>Concretamente, una plataforma de Identidad Auto-Soberana, basada en Blockchain para Emision y Validación de Certificados Académicos, bajo el nombre de CertIDchain, presentado por la empresa sevillana <b>EMERGYA INGENIERIA SL</b>, ha obtenido la máxima puntuación de la convocatoria, consiguiendo una subvención de más de 277 mil euros.</p>
                        <p>Asimismo, la pyme gaditana <b>ITELLIGENT Information Tecnologies SL</b> se ha posicionado en el segundo puesto del ranking, con un proyecto pionero en el que se desarrolla un sistema de Optimización Rápida basada en Deep Reinforcement Learning, con aplicación a la Industria 4.0 y Smart Cities (OPRA). La ayuda concedida para esta empresa asciende a más de 153 mil euros.</p>
                        <p>De igual forma, el otro proyecto andaluz que obtiene la cuarta posición de la lista provisional es para otro trabajo de EMERGYA basado en una tecnología de Inteligencia Ubicua para la seguridad por Diseño mejorado del software IoT, consiguiendo una suma total de 361 mil euros para su desarrollo.</p>
                        <p>ENLACES DE INTERÉS:</p>
                        <ul>
                            <li>Nota de prensa: <a href="https://opra-itelligent.s3-eu-west-1.amazonaws.com/nota_de_prensa_Empresas_andaluzas_THD_2019.pdf" target="_blank">nota_de_prensa_Empresas_andaluzas_THD_2019.pdf</a></li>
                            <li>Descripción proceso Convocatoria THD 1/2019: http://www.mincotur.gob.es/PortalAyudas/THD/descripcion/Documents/Infografia-linea-vida-ayuda.pdf</li>
                            <li>Resolución provisional THD 1/2019: http://www.mincotur.gob.es/PortalAyudas/THD/concesion/2019/Paginas/PropResProvisional.aspx</li>
                            <li><a href="http://www.itelligent.es" target="_blank">ITelligent Information Technologies SL</a>  https://itelligent.es/</li>
                        </ul>
                        <p>CONTACTO:</p>
                        <ul>
                            <li>opra@itelligent.es</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

